<h1>Productos en Tiempo Real</h1>
<form id="productForm">
    <input type="text" id="name" placeholder="Nombre del producto" required>
    <input type="number" id="price" placeholder="Precio" required>
    <button type="submit">Agregar Producto</button>
</form>
<ul id="productList"></ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>