h1 {
    text-align: center;
    color: red;
}

#productList h3 {
    color: #5C7AFF;
    margin-top: 0;
}

#productList p {
    color: #5C7AFF;
    flex-grow: 1;
    overflow-y: auto;
}

#productList ul {
    padding: 0;
    margin: 0;
}

#productList li {
    color: #5C7AFF;
    list-style-type: none;
}